*{
    box-sizing: border-box;
    /* font-family: 'Poppins'; */
}
.div-container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    /* border: 2px solid #34313D;
    border-radius: 35px;
    margin: 2em; */
   
}
#email{
    background: url('../Assets/message.png') no-repeat left;
    padding: 1em 3em;
    border-radius: 0.5em;
    outline: 2px solid black;
    border: 3px  solid transparent;
    border-left: 20px solid transparent;
}
#password{
    background: url('../Assets/lock.svg') no-repeat left;
    padding: 1em 3em;
    border-radius: 0.5em;
    outline: 2px solid black;
    border: 3px  solid transparent;
    border-left: 20px solid transparent;
}
#email:hover,#password:hover,#email:focus,#password:focus{
    outline: 2px solid #304FC1;
}
.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
}
.right{
    width: 60%;
}
.logo{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #304FC1;
    margin-bottom: 5vh;
}
.greetings{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #34313D;
    
}
.otherauth{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #34313D;
    margin: 1vh 0 1vh;
}
label{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #34313D;
}
input{
    width: 100%;
    font-size: 17px;
}
.field{
    margin: 5vh 0;
}
.norm_signup input{
    background: #304FC1;
    border-radius: 8px;
    padding: 0.5em;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #F1F4FA;
    animation-name: bounce;
    animation-duration: 0.3s;
    animation-iteration-count: 3;
}
@keyframes bounce{
    from{transform: translateY(10px);}
    to{transform: translateY(-10px);}
}
.norm_signup{
    margin: 2rem 0;
}
.norm_signup a{
    text-decoration: none;
    color: #304FC1;
    font-weight: bold;
}
.google_signup button{
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google_signup button img{
    width: 25px;
}
.google_signup a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #34313D;
}
.google_signup button, .norm_signup input{
    cursor:pointer;
}
.otherauth a{
    text-decoration: none;
    font-weight: bold;
    color: #304FC1;
}

